:root {
  --color-light-blue: #dbeafe;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 5%;
}

.title {
  font-size: 48px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

input,
.value {
  flex: 1;
}

label {
  font-size: 18px;
  font-weight: 500;
}

body {
  box-sizing: border-box;
  background-color: var(--color-light-blue);
}

.input-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

legend {
  font-size: 28px;
  font-weight: 600;
}

fieldset {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  min-width: 800px;
  max-width: 50%;
}

.submit-button,
.edit-button {
  width: 150px;
  align-self: center;
  height: 50px;
  border-radius: 8px;
}

button:hover {
  filter: brightness(80%);
}

.delete-button {
  width: 80px;
  align-self: center;
  height: 20px;
}

.add-button {
  margin-top: -30px;
  width: 120px;
  align-self: center;
  height: 25px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}